 :root {
    --title-color: #212121;
    --secondary-title-color: #ffffff;
    --accent-color: #2196F3;
    --text-color: #757575;
    --secondary-text-color :rgba(255, 255, 255, 0.6);
    --logo-color: #000000;
    --base-backgroud-color: #ffffff;
    --background-color: #F5F5F5;
    --secondary-background-color: #2F303A;
    --third-background-color: #F5F4FA;

 }

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--text-color);
    background-color: var(--base-backgroud-color);
    
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}
ul {
    margin: 0;
    padding: 0;
}
p {
   margin: 0;
   padding: 0;
    }

.section-list,
.worker-list {
    list-style: none;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

 /* logo */

.logo {
    margin-right: 93px;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;    
    letter-spacing: 0.03em;
    text-decoration: none;
    color: var(--logo-color) ;
    font-family: 'Raleway', sans-serif;
}

.logoweb {
    color: var(--accent-color); 
}
.logostudio {
    color: var(--logo-color) ;
}

/* heder */

/* nav */

.navigation {
    display: flex;
    align-items: center;
}

.navigation-list {
    display: flex;
    list-style: none;
}


.navigation-item {
    margin-right: 50px;  
}

.navigation-item:last-child {
    margin-right: 0;
}

.navigation-link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--title-color) ;

}

.navigation-contact-list {
    margin-left: auto;
    
    display: flex;
    list-style: none;
}

.navigation-contact-item:first-child {
    margin-right: 50px;
}

.navigation-contact {
    

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--text-color);
}



.navigation-link:hover,
.navigation-link:focus,
.navigation-contact:hover,
.navigation-contact:focus
{
color: var(--accent-color);
}



.navigation-link.current {
    color: var(--accent-color);
}

.container.head {
    display: flex;
    align-items: center;
}

/* hero */

.hero {
    background-color: var(--secondary-background-color) ;
}
.hero-title {
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;    
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;

        color: var(--secondary-title-color) ;
}

.hero-button {
        font-family: inherit;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.88;    
        letter-spacing: 0.06em;
        color: var(--secondary-title-color) ;
        background-color: var(--accent-color);

        cursor: pointer;
}


/* section */



.section-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.16;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--title-color);
    
}

.list-title {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--title-color);
    
}

.worker {
    background-color: var(--third-background-color);
}

.worker-title {
    
        font-weight: 500;
        font-size: 16px;
        line-height: 1.19px;        
        letter-spacing: 0.03em;
        color: var(--title-color);
}

.worker-desc {
        font-size: 16px;
        line-height: 1.18;
        letter-spacing: 0.03em;
    }


/* footer */

.footer {
    background-color: var(--secondary-background-color) ;
}
.logo.logostudio-footer {
    color: var(--secondary-title-color) ;
}

.addres {
        font-style: normal;
        text-decoration: none;

        color: var(--secondary-title-color) ;
}

.footer-contact {
        font-style: normal;
        text-decoration: none;

        color: var(--secondary-text-color);
}
.addres:hover,
.footer-contact:hover,
.addres:focus,
.footer-contact:focus
{
 color: var(--accent-color);
}


/* Portfolio */


.portfolio-main-title {
    color: var(--title-color);
}

.button-list,
.portfolio-list {
    list-style: none;
}

.portfolio-button {
        font-family: inherit;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.62;    
        text-align: center;
        letter-spacing: 0.03em;

        background-color: var(--third-background-color);

        cursor: pointer;
        
}

  .portfolio-button:hover,
  .portfolio-button:focus
   {
        color: var(--secondary-title-color) ;
        background-color: var(--accent-color);
    
}

.portfolio-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;    
    letter-spacing: 0.06em;
    color: var(--title-color);
    
}

.portfolio-desk {
    font-size: 16px;
    line-height: 1.88;    
    letter-spacing: 0.03em;
    color: var(--text-color);
}

.portfolio-link {
    text-decoration: none;
}
